body {
    margin: 0;
    padding: 0;
    padding-top: 56px; /* Adjust this value based on your navbar height */
}

nav.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    text-align: justify;
    hyphens: auto;
    
  }

  
  .about-text p {
    margin:0;
  }

.circle {
    max-width: 400px;
}

.name
{
    position:absolute;
    color: blue;
    left: 5%;
}
.prof {
    color: blue;
    margin-top: 10px;
}

.me {
    padding: 20px;
    text-align: center;
}

#proj,
#skil,
#act {
    padding: 20px;
}

#proj .row,
#act .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#proj .card,
#act .card {
    margin: 10px;
}

@media (min-width: 768px) {
    #photo {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }

    .name,
    .prof {
        margin-top: 0;
    }

    .me {
        text-align: left;
        width: 50%;
        margin: 0 auto;
    }
}